.timers > div { padding: 15px; width: 100%; color: rgb(255, 255, 255); }
.timers .btn { width: 100%; max-width: 100%; min-width: 100%; }
.lastcen, .newcen { font-size: 20px; display: block; float: left; text-align: center; line-height: 30px; }
.newcen { float: right; }
.lastcen big, .newcen big { font-size: 35px; }
.lastcen small, .newcen small { font-size: 25px; }
.lastcen big, .lastcen small { text-decoration: line-through; }
.newcen big { font-weight: 700; color: rgb(102, 254, 0); }
.timers {
    display: block;
    min-width: 320px;
    max-width: 400px;
    margin: 5px auto 0px;
    padding: 10px;
    z-index: 99999;
}
.timers .timer { margin-bottom: 10px; }
.timers > div { width: 100%; }
.timer { clear: both; display: block; width: 100%; }
.timer span { display: block; margin-bottom: 5px; font-size: 16px; text-align: center; padding-top: 5px; }
.clock {
    width: 207px;
    height: 50px;
    color: rgb(0, 0, 0);
    margin: 0px auto;
    font-size: 39px;
    display: flex;
    justify-content: space-between;
    border: medium none ! important;
    background: #ffffff4f;
    padding: 0 20px;
}
.clock > div { width: 40px; border: medium none ! important; display: flex; justify-content: space-between; }
.clock > div > p {
    display: block;
    width: 68px;
    line-height: normal;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: #444444;
}
.day { display: none ! important; }
.phin { font-size: 35px; line-height: 30px; text-align: center; display: block; }
.timers div img { margin: 12px auto; display: block; }
span.time-del {
    font-size: 36px;
    color: #444444;
    line-height: 30px;
}

span.time-name {
    font-family: 'Bebas Neue';
    font-size: 17px;
    letter-spacing: 2px;
    color: #4a4a4a;
    font-weight: 600;
}